<!-- Modal -->
<div class="modal fade" id="pending-invite" tabindex="-1" role="dialog" aria-labelledby="add-friend">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addFriendLabel">Add New Friend</h4>
            </div>
            <div class="modal-body">
                Accept Pending Invite
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default save-request" data-dismiss="modal">Decline Invite</button>
                <button type="button" class="btn btn-primary save-request">Accept Invite</button>
            </div>
        </div>
    </div>
</div>